[Unit]
Description=FidelizaPro Queue Worker
After=mysql.service

[Service]
Type=simple
User=satisfy
WorkingDirectory=E:\xampp\htdocs\fidelizapro
ExecStart=E:\xampp\php\php.exe artisan queue:work --tries=1 --timeout=1800 --sleep=3
Restart=always
RestartSec=5
StandardOutput=append:E:\xampp\htdocs\fidelizapro/storage/logs/queue.log
StandardError=append:E:\xampp\htdocs\fidelizapro/storage/logs/queue.log

[Install]
WantedBy=multi-user.target